
/*set some spacing in body element*/
body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}
/*make header stand out*/
header {
  background-color: #0abbf4;
  color: white;
  padding: 20px 0;
  text-align: center;
}
/*navigation style using flexbox*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex; 
  justify-content: center;
  gap: 20px; 
}
/*navigation*/
nav a {
  color: #620fde;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
/*main element*/
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*set style for specific article element (id=article) in project page*/
#article ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /*enable flexbox*/
  flex-wrap: wrap; /*wrapping on small screens*/
  gap: 20px; /*spacing between project cards*/
}
/*#article li {
  margin-bottom: 25px;
}*/
/* using FlexBox instead */
#article li {
  flex: 1 1 250px; /*resize project cards depending on screen (flex-grow:1 flex-shrink 1 flex-basis 250px*/
  margin: 0;
}

/*set style for section in article for each project*/
#article section {
  background: #ddc0dd;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 20px;
}
#article section img {
  border-radius: 6px;
}
#article section:hover{
  background-color: #f0f0f0;
  transform: translateY(-2px);
  transition: 0.2s ease;
}
#article img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
/*set style for project title and link*/
#article h3 {
  margin: 0;
  color: #444;
}
#article a {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}
#article a:hover {
  text-decoration: underline;
}
/*set footer style*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 40px;
}
/*Oswald google font
// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name*/
.oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 400; /* or 200–700 */
  font-style: normal;
}

/*Diplomata google font*/
.diplomata-sc-regular {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
}
/*Bungee google font*/
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*Pompiere google font*/
.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  /*Bungee google font*/
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header p {
  font-family: "Oswald", sans-serif;
  font-weight: 400; 
  font-style: normal;
}

